<h1><%= title %></h1>
<%- messages() %>

<% if (favorites.length > 0) { %>
        
    <ul id="inv-display">
        <% favorites.forEach(vehicle => { %>
            <li><a href="../../inv/detail/<%= vehicle.inv_id %>" title="View <%= vehicle.inv_make %> <%= vehicle.inv_model %> details">
                <img src="<%= vehicle.inv_thumbnail %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %> on CSE Motors"></a>
                <div class="namePrice"><hr>
                    <h2><a href="../../inv/detail/<%= vehicle.inv_id %>" title="View <%= vehicle.inv_make %> <%= vehicle.inv_model %> details"><%= vehicle.inv_make %> <%= vehicle.inv_model %></a></h2>
                    <span>$<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></span>
                </div>
                <form method="post" action="/account/favorite/delete">
                    <input type="hidden" name="inv_id" value="<%= vehicle.inv_id %>">
                    <input type="hidden" name="returnTo" value="/account/favorites">
                    <button type="submit">Remove</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p class="notice">No favorites found.</p>
<% } %>