<% if (title) { %>
<h1><%= title %></h1>
<%- messages() %>

<% } else {
    res.redirect('/')
} %>

<%- grid %>

<% if (loggedin) { %>
  <% if (!isFavorite) { %>
    <form method="post" action="/account/favorite/add">
      <input type="hidden" name="inv_id" value="<%= inv_id %>">
      <button type="submit">Add to Favorites</button>
    </form>
  <% } else { %>
    <form method="post" action="/account/favorite/delete">
      <input type="hidden" name="inv_id" value="<%= inv_id %>">
      <button type="submit">Remove Favorite</button>
    </form>
  <% } %>
<% } %>